/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
===============
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* black primary color */
  --clr-black-1: #373331;
  --clr-black-2: #000;
  --clr-black-3: #333;
  --clr-black-4: #63686e;
  --clr-black-5: #272D2D;
  --clr-black-6: #393e46;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /* white primary color*/
  --clr-white-1: #fff;
  --clr-white-2: #ffe5ab;
  --clr-white-3: #fcea90;
  --clr-white-4: #fff1c1;
  --clr-white-5: #ffd6a4;
  --clr-white-6: #F6F5F5;

  /* red primary color*/
  --clr-red-1: #BB2525;
  --clr-red-2: #e66b6b;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-third: 'Sacramento', cursive;
  --transition: all 0.3s linear;
  --transition-blog: all 2s linear;
  --transition-1: transform 2s;
  --transition-2: bottom 2s;
  --transition-btn: all 1.5s ease;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
===============
Animation
===============
*/

@keyframes clickButton {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(2);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 2rem;
  position: relative;
}
.btn:hover {
  color: var(--clr-black-2);
  background: transparent;
  border: 2px solid var(--clr-primary-5);
}

.circle {
  position: absolute;
  background: var(--clr-white-1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: clickButton .5s ease-out;
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */
.underline{
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.section-title{
  margin-bottom: 4rem;
  text-align: center;
}

.section-title__contact{
  margin-bottom: 0rem;
  text-align: center;
}

.bg-grey{
  background: var(--clr-grey-10);
}

.section-padding{
  padding: 3rem 0;
}

/*
=========
Animation
=========
*/
@keyframes show-navBar{
  0%{
    transform: scale(1)
  }

  50%{
    transform: scale(0.5);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes slideFromDown{
  0%{
    transform: translateY(1000px);
    opacity: 0;
  }

  50%{
    transform: translateY(-200px);
    opacity: 0.5;
  }

  75%{
    transform: translateY(50px);
    opacity: 0.75;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromUp{
  0%{
    transform: translateY(-1000px);
    opacity: 0;
  }

  50%{
    transform: translateY(200px);
    opacity: 0.5;
  }
  75%{
    transform: translateY(-50px);
    opacity: 0.75;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-text{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/*
===============
Loading Text
===============
*/
  .loadingText{
    display: grid;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--clr-primary-1);
    background: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
  }
/*
===============
Navbar
===============
*/
.nav-links{
  display: none;
}

.navbar-General{
  background-color: var(--clr-primary-10);
  height: 5rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
  z-index: -1;
}

.nav-center{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-logo{
  width: 17rem;
}

.nav-btn{
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width:768px){

.navbar-General{
  background: var(--clr-primary-10);
}

.nav-btn{
  display: none;
}

.nav-links{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  column-gap: 2rem;
  justify-self: end;
}

.nav-links a {
  text-transform: uppercase;
  color: var(--clr-black-5);
  font-weight: bold;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.nav-links a:hover{
  color: var(--clr-primary-5);
}

.nav-center{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
}

/* fixed navbar */
.navbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white-1);
  z-index: 2;
  box-shadow: var(--light-shadow);
  padding: 1rem;
}

/*
===============
SideBar
===============
*/
  .sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white-1);
  z-index: 4;
  display: grid;
  /* justify-content: center;
  align-items: center; */
  place-items: center; /* include (justify-content&align-content) */
  transition: var(--transition);
  /* add later */
  transform: translateX(-100%);
}

.show-sidebar{
  transform: translateX(0);
}

  .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
  transition: var(--transition);
  color: var(--clr-red-1);
  cursor: pointer;
  }
  .close-btn:hover {
    color: var(--clr-red-2);
  }
  .links {
    margin-bottom: .5rem;
    text-align: center;
  }
  .links a {
  font-size: 2rem;
  text-transform: uppercase;
  transition: var(--transition);
  color: var(--clr-grey-6);
  margin-top: 2rem;
  letter-spacing: var(--spacing);
  display: grid;
  }

  .links a:hover {
    color: var(--clr-primary-5);
  }

.social-icons{
  display: grid;
  margin-top: .5rem;
  color: var(--clr-primary-10);
  width: 20rem;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
}

.social-icon{
  font-size: 2rem;
  color: var(--clr-black-6);
  transition: var(--transition);
}

.social-icon:hover{
  color: var(--clr-primary-5);
}

  @media screen and (min-width: 992px) {
    .sidebar {
      display: none;
    }
  }

  /*
===============
Hero
===============
*/
.hero{
  background-color: var(--clr-primary-10);
  padding-bottom: 5rem;
 z-index: -1;
}

.hero .underline{
  margin-bottom: 0.5rem;
  margin-left: 0;
}


.hero-center{
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero-info h4{
  color: var(--clr-grey-5);
}

.hero-icons{
  justify-items: start;
}

.hero-btn{
  margin-top: 1.2rem;
}

.hero-img{
  display: none;
}

@media screen and (min-width: 992px){
  .hero-img{
    display: block;
    position: relative;
  }

  .hero-center{
    grid-template-columns: 1fr 1fr;
  }

  .hero-photo{
    max-width: 25rem;
    max-height: 35rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }

  .hero-img::before{
    content: "";
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    position: absolute;
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }
}


.social-icons{
  display: grid;
  margin-top: 2rem;
  color: var(--clr-primary-10);
  width: 15rem;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
}

.social-icon{
  font-size: 1.5rem;
  color: var(--clr-black-6);
  transition: var(--transition);
}

.social-icon:hover{
  color: var(--clr-primary-5);
}
/*
===============
About
===============
*/
/* section title added to globals */
.about-center{
  display: grid;
  gap: 3rem 2rem;
}
.about-title{
text-align: left;
margin-bottom: 2rem;
}

.about-title .underline{
  margin-left: 0;
}

.about-img{
  justify-self: center;
}

.about-photo{
  max-width: 25rem;
  max-height: 35rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

.about-info p{
  color: var(--clr-black-1);
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (min-width: 992px){
  .about-center{
    grid-template-columns: 1fr 1fr;
  }

  .about-img{

  position: relative;
  }

  .about-img::before{
    content: "";
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    position: absolute;
    top: 2rem;
    left: -2rem;
    border-radius: var(--radius);
  }

  .about-info{
    align-self: center;
  }
}


/*
===============
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */



.services-container{
  max-width: 90vw;
  margin: 0 auto;
  color: var(--clr-white-6);
  padding: 2rem 0 5rem 0;
}

.service-item{
  overflow: hidden;
  position: relative;
  padding: 4rem;
  transition: var(--transition);
}

.service-item-black{
  background: var(--clr-white-6);
}

.service-item-white{
  background: var(--clr-white-1)
}

.front-text{
  text-align: center;
  transition: var(--transition-1);
}

.front-text .fas{
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-5);
}

.front-text .fab{
  font-size: 4.5rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-5);
}

.front-text h1{
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--clr-black-1);
  letter-spacing: 2px;
}

.back-text{
  position: absolute;
  bottom: -15rem;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  transition: var(--transition-1);
}

.back-text h1{
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  letter-spacing: 2px;
}

.back-text p{
  font-size: 1rem;
  width: 23rem;
  font-weight: 700;
  color: var(--clr-black-1);
}

.back-text button{
  margin-top: 1.5rem;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid var(--clr-yellow-1);
  font-size: 1.5rem;
  color: var(--clr-yellow-1);
  transition: var(--transition);
  cursor: pointer;
  text-transform: capitalize;
}

.back-text button:hover{
  background: var(--clr-yellow-1);
  color: var(--clr-black-9);
}

.service-item-white button{
  background: var(--clr-yellow-1);
  color: var(--clr-black-9);
  transition: var(--transition);
}

.service-item-white button:hover{
  background: var(--clr-black-9);
  color: var(--clr-yellow-1);
  border-color: var(--clr-black-9);
}

.service-item:hover .front-text{
  transform: translateY(-12.5rem);
}

.service-item:hover .back-text{
  transform: translateY(-15rem);
}

@media screen and (min-width: 1300px){
  .services-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services-container .service-item:nth-of-type(1){
    order: 1;
  }

  .services-container .service-item:nth-of-type(2){
    order: 2;
  }

  .services-container .service-item:nth-of-type(3){
    order: 4;
  }

    .services-container .service-item:nth-of-type(4){
    order: 3;
  }
}


/*
===============
Projects
===============
*/
.projects-text{
  width: 85vw;
  max-width: 45rem;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr-black-1);
}

.project{
  position: relative;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-info{
  text-align: center;
  color: var(--clr-white-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}

.project-info p{
  text-transform: capitalize;
  color: var(--clr-white-1);
}

.project:hover .project-info{
  opacity: 1;
}

.project-img{
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}

.project:hover .project-img{
  opacity: 0.1;
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white-1);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}

.project:hover::after{
  opacity: 1;
  transform: scale(0.8);
}

@media screen and (min-width: 676px){
  .projects-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width:992px){
  .projects-center{
    grid-template-columns: repeat(3, 1fr );
  }
}

@media screen and (min-width: 1170px){
  .projects-center{
    grid-template-rows: repeat(2, 200px);
    gap: 1rem;
    grid-template-areas:
    'a b b'
    'a c d';
  }

  .project{
    height: 100%;
  }

  .project-img{
    height: 100%;
  }

  .project-1{
    grid-area: a;
  }

  .project-2{
    grid-area: b;
  }

  .project-3{
    grid-area: c;
  }

  .project-4{
    grid-area: d;
  }
}


